Bronze Notebook is stage one of ingesting data before building the pipeline
(a Kind of rough work of understadin the nature of data under examination)

In this case;

1. Import the data
2. Understand what each row and coumn represent
3. Identify rows and columns to be worked on after trancate
4. Allign the data set answering workflow deliverables

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Bronze") \
    .getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
df = spark.read.csv(r"C:\Users\JKR\Documents\Project-csv\jkr.csv")

In [ ]:
df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [ ]:
df.show()

+--------------------+--------------------+-----+----+--------+----+------------+-----+----------+-----+-----------+---------+
|                 _c0|                 _c1|  _c2| _c3|     _c4| _c5|         _c6|  _c7|       _c8|  _c9|       _c10|     _c11|
+--------------------+--------------------+-----+----+--------+----+------------+-----+----------+-----+-----------+---------+
|Watamu Marine Par...|                NULL| NULL|NULL|    NULL|NULL|        NULL| NULL|      NULL| NULL|       NULL|     NULL|
|              Report|                NULL| NULL|NULL|    NULL|NULL|        NULL| NULL|      NULL| NULL|       NULL|     NULL|
|                NULL|Total Expected Vi...| NULL|NULL|    NULL|NULL|        NULL| NULL|T/VISITORS|T/VEH|       NULL|     NULL|
|                DATE|             CITIZEN| NULL|NULL|RESIDENT|NULL|NON-RESIDENT| NULL|      NULL| NULL|        KES|      USD|
|                NULL|                   A|    C|   S|       A|   C|           A|    C|      NULL| NULL|       NULL|     NULL|
|            1-Jul-25|               318.0|119.0|   0|    12.0|   2|       335.0| 49.0|     835.0| 70.0| 1714845.00| 704.3780|
|            2-Jul-25|               329.0| 51.0|   0|    14.0| 5.0|       280.0| 62.0|     741.0| 98.0| 1573440.00|1061.1460|
|            3-Jul-25|               431.0| 57.0|  86|     9.0| 5.0|       345.0| 79.0|    1012.0|119.0| 2059325.00|   963.00|
|            4-Jul-25|               572.0| 76.0| 172|    10.0| 3.0|       427.0| 67.0|    1327.0|115.0| 2054360.00|2076.7400|
|            5-Jul-25|               653.0| 83.0|   0|    30.0| 5.0|       468.0| 79.0|    1318.0|190.0| 2637555.00|  1550.00|
|            6-Jul-25|               727.0|151.0|  40|    70.0| 9.0|       372.0| 86.0|    1455.0|222.0| 2396830.00|1581.2080|
|            7-Jul-25|               335.0|111.0|   0|    11.0| 1.0|       252.0| 40.0|     750.0| 38.0|  889140.00|1584.0720|
|            8-Jul-25|               163.0| 17.0|  70|      15| 6.0|       202.0| 31.0|     504.0| 38.0|  970500.00|        0|
|              Totals|              3528.0|665.0| 368|   171.0|36.0|      2681.0|493.0|    7942.0|890.0|14295995.00|9520.5440|
+--------------------+--------------------+-----+----+--------+----+------------+-----+----------+-----+-----------+---------+