In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("silver") \
    .getOrCreate()

In [4]:
df = spark.read.option("header", "true").csv(r"C:\Users\JKR\Documents\Project-csv\KWS-dataset.csv")

In [5]:
df.show()

+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
|     DATE|CITIZEN A|CITIZEN C|RESIDENT A|RESIDENT C|NON RESIDENT A|NON RESIDENT C|KSH -TOTAL |USD -TOTAL|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
| 1-Jun-25|    211.0|     68.0|    3279.0|    1005.0|         597.0|          88.0| 7631940.00|   2618.26|
| 2-Jun-25|    132.0|     51.0|    2609.0|    1790.0|         525.0|          23.0| 6530855.00|   1154.46|
| 3-Jun-25|     11.0|      4.0|     540.0|     588.0|         316.0|          24.0| 2603930.00|   3753.03|
| 4-Jun-25|     19.0|     16.0|     639.0|     970.0|         314.0|          73.0| 3477805.00|   2211.73|
| 5-Jun-25|     34.0|        6|     694.0|    1430.0|         371.0|          58.0| 3977830.00|   2992.95|
| 6-Jun-25|    147.0|     34.0|    2133.0|    2621.0|         501.0|          29.0| 6441310.00|   3295.03|
| 7-Jun-25|    129.0|     35.0|    2484.0|    1288.0|         727.0|          94.0| 7842890.00|   6033.45|
| 8-Jun-25|    131.0|     32.0|    2068.0|     752.0|         611.0|          72.0| 7125785.00|      2038|
| 9-Jun-25|     13.0|      9.0|     558.0|     269.0|         463.0|          36.0| 4566470.00|      1682|
|10-Jun-25|     23.0|        8|     584.0|     610.0|         465.0|          52.0| 4273065.00|   1817.26|
|11-Jun-25|      8.0|        0|     594.0|     685.0|         329.0|          56.0| 3349530.00|   1890.89|
|12-Jun-25|     21.0|     10.0|     734.0|     790.0|         478.0|          60.0| 3932695.00|   2366.71|
|13-Jun-25|     35.0|       11|    1104.0|    2907.0|         459.0|          73.0| 5416075.00|      1729|
|14-Jun-25|     65.0|     14.0|    2090.0|    1281.0|         691.0|          36.0| 7386145.00|   2683.25|
|15-Jun-25|    139.0|     54.0|    2141.0|     945.0|         703.0|          41.0| 7726815.00|   3203.70|
|16-Jun-25|     13.0|        9|     572.0|     365.0|         536.0|          57.0| 4676595.00|   1648.57|
|17-Jun-25|     30.0|      8.0|     832.0|     773.0|         490.0|          28.0| 4650455.00|      2479|
|18-Jun-25|     17.0|      2.0|     565.0|     591.0|         370.0|          44.0| 3252200.00|      1520|
|19-Jun-25|     10.0|        6|     637.0|     636.0|         282.0|          49.0| 2030915.00|      4035|
|20-Jun-25|     18.0|      1.0|    1303.0|     711.0|         520.0|          82.0| 7331320.00| 3723.6440|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
only showing top 20 rows

### Transformations


### Answering the guideline (Check PDF - workflow)
### it is evident that the required transformations conducted be:

- Check if Null values Exist
- Required columns and Rows
- Droping duplicates and filling in null values

In [6]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of DataFrame[DATE: string, CITIZEN A: string, CITIZEN C: string, RESIDENT A: string, RESIDENT C: string, NON RESIDENT A: string, NON RESIDENT C: string, KSH -TOTAL : string, USD -TOTAL: string]>

In [7]:
df.show()

+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
|     DATE|CITIZEN A|CITIZEN C|RESIDENT A|RESIDENT C|NON RESIDENT A|NON RESIDENT C|KSH -TOTAL |USD -TOTAL|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
| 1-Jun-25|    211.0|     68.0|    3279.0|    1005.0|         597.0|          88.0| 7631940.00|   2618.26|
| 2-Jun-25|    132.0|     51.0|    2609.0|    1790.0|         525.0|          23.0| 6530855.00|   1154.46|
| 3-Jun-25|     11.0|      4.0|     540.0|     588.0|         316.0|          24.0| 2603930.00|   3753.03|
| 4-Jun-25|     19.0|     16.0|     639.0|     970.0|         314.0|          73.0| 3477805.00|   2211.73|
| 5-Jun-25|     34.0|        6|     694.0|    1430.0|         371.0|          58.0| 3977830.00|   2992.95|
| 6-Jun-25|    147.0|     34.0|    2133.0|    2621.0|         501.0|          29.0| 6441310.00|   3295.03|
| 7-Jun-25|    129.0|     35.0|    2484.0|    1288.0|         727.0|          94.0| 7842890.00|   6033.45|
| 8-Jun-25|    131.0|     32.0|    2068.0|     752.0|         611.0|          72.0| 7125785.00|      2038|
| 9-Jun-25|     13.0|      9.0|     558.0|     269.0|         463.0|          36.0| 4566470.00|      1682|
|10-Jun-25|     23.0|        8|     584.0|     610.0|         465.0|          52.0| 4273065.00|   1817.26|
|11-Jun-25|      8.0|        0|     594.0|     685.0|         329.0|          56.0| 3349530.00|   1890.89|
|12-Jun-25|     21.0|     10.0|     734.0|     790.0|         478.0|          60.0| 3932695.00|   2366.71|
|13-Jun-25|     35.0|       11|    1104.0|    2907.0|         459.0|          73.0| 5416075.00|      1729|
|14-Jun-25|     65.0|     14.0|    2090.0|    1281.0|         691.0|          36.0| 7386145.00|   2683.25|
|15-Jun-25|    139.0|     54.0|    2141.0|     945.0|         703.0|          41.0| 7726815.00|   3203.70|
|16-Jun-25|     13.0|        9|     572.0|     365.0|         536.0|          57.0| 4676595.00|   1648.57|
|17-Jun-25|     30.0|      8.0|     832.0|     773.0|         490.0|          28.0| 4650455.00|      2479|
|18-Jun-25|     17.0|      2.0|     565.0|     591.0|         370.0|          44.0| 3252200.00|      1520|
|19-Jun-25|     10.0|        6|     637.0|     636.0|         282.0|          49.0| 2030915.00|      4035|
|20-Jun-25|     18.0|      1.0|    1303.0|     711.0|         520.0|          82.0| 7331320.00| 3723.6440|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
only showing top 20 rows

In [13]:
df.withColumnRenamed('CITIZEN A', 'CITIZEN_A').show()

+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
|     DATE|CITIZEN_A|CITIZEN C|RESIDENT A|RESIDENT C|NON RESIDENT A|NON RESIDENT C|KSH -TOTAL |USD -TOTAL|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
| 1-Jun-25|    211.0|     68.0|    3279.0|    1005.0|         597.0|          88.0| 7631940.00|   2618.26|
| 2-Jun-25|    132.0|     51.0|    2609.0|    1790.0|         525.0|          23.0| 6530855.00|   1154.46|
| 3-Jun-25|     11.0|      4.0|     540.0|     588.0|         316.0|          24.0| 2603930.00|   3753.03|
| 4-Jun-25|     19.0|     16.0|     639.0|     970.0|         314.0|          73.0| 3477805.00|   2211.73|
| 5-Jun-25|     34.0|        6|     694.0|    1430.0|         371.0|          58.0| 3977830.00|   2992.95|
| 6-Jun-25|    147.0|     34.0|    2133.0|    2621.0|         501.0|          29.0| 6441310.00|   3295.03|
| 7-Jun-25|    129.0|     35.0|    2484.0|    1288.0|         727.0|          94.0| 7842890.00|   6033.45|
| 8-Jun-25|    131.0|     32.0|    2068.0|     752.0|         611.0|          72.0| 7125785.00|      2038|
| 9-Jun-25|     13.0|      9.0|     558.0|     269.0|         463.0|          36.0| 4566470.00|      1682|
|10-Jun-25|     23.0|        8|     584.0|     610.0|         465.0|          52.0| 4273065.00|   1817.26|
|11-Jun-25|      8.0|        0|     594.0|     685.0|         329.0|          56.0| 3349530.00|   1890.89|
|12-Jun-25|     21.0|     10.0|     734.0|     790.0|         478.0|          60.0| 3932695.00|   2366.71|
|13-Jun-25|     35.0|       11|    1104.0|    2907.0|         459.0|          73.0| 5416075.00|      1729|
|14-Jun-25|     65.0|     14.0|    2090.0|    1281.0|         691.0|          36.0| 7386145.00|   2683.25|
|15-Jun-25|    139.0|     54.0|    2141.0|     945.0|         703.0|          41.0| 7726815.00|   3203.70|
|16-Jun-25|     13.0|        9|     572.0|     365.0|         536.0|          57.0| 4676595.00|   1648.57|
|17-Jun-25|     30.0|      8.0|     832.0|     773.0|         490.0|          28.0| 4650455.00|      2479|
|18-Jun-25|     17.0|      2.0|     565.0|     591.0|         370.0|          44.0| 3252200.00|      1520|
|19-Jun-25|     10.0|        6|     637.0|     636.0|         282.0|          49.0| 2030915.00|      4035|
|20-Jun-25|     18.0|      1.0|    1303.0|     711.0|         520.0|          82.0| 7331320.00| 3723.6440|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
only showing top 20 rows

In [20]:

for colname in df.columns:
    df = df.withColumnRenamed(colname, colname.strip().replace(" ", "_").replace("-", "_").upper())

In [22]:
df.columns

['DATE',
 'CITIZEN_A',
 'CITIZEN_C',
 'RESIDENT_A',
 'RESIDENT_C',
 'NON_RESIDENT_A',
 'NON_RESIDENT_C',
 'KSH__TOTAL',
 'USD__TOTAL']

### Handling Missing Values

In [24]:
df.na.drop(how='any', subset= (['CITIZEN_A'])).show()

+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+
|     DATE|CITIZEN_A|CITIZEN_C|RESIDENT_A|RESIDENT_C|NON_RESIDENT_A|NON_RESIDENT_C|KSH__TOTAL|USD__TOTAL|
+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+
| 1-Jun-25|    211.0|     68.0|    3279.0|    1005.0|         597.0|          88.0|7631940.00|   2618.26|
| 2-Jun-25|    132.0|     51.0|    2609.0|    1790.0|         525.0|          23.0|6530855.00|   1154.46|
| 3-Jun-25|     11.0|      4.0|     540.0|     588.0|         316.0|          24.0|2603930.00|   3753.03|
| 4-Jun-25|     19.0|     16.0|     639.0|     970.0|         314.0|          73.0|3477805.00|   2211.73|
| 5-Jun-25|     34.0|        6|     694.0|    1430.0|         371.0|          58.0|3977830.00|   2992.95|
| 6-Jun-25|    147.0|     34.0|    2133.0|    2621.0|         501.0|          29.0|6441310.00|   3295.03|
| 7-Jun-25|    129.0|     35.0|    2484.0|    1288.0|         727.0|          94.0|7842890.00|   6033.45|
| 8-Jun-25|    131.0|     32.0|    2068.0|     752.0|         611.0|          72.0|7125785.00|      2038|
| 9-Jun-25|     13.0|      9.0|     558.0|     269.0|         463.0|          36.0|4566470.00|      1682|
|10-Jun-25|     23.0|        8|     584.0|     610.0|         465.0|          52.0|4273065.00|   1817.26|
|11-Jun-25|      8.0|        0|     594.0|     685.0|         329.0|          56.0|3349530.00|   1890.89|
|12-Jun-25|     21.0|     10.0|     734.0|     790.0|         478.0|          60.0|3932695.00|   2366.71|
|13-Jun-25|     35.0|       11|    1104.0|    2907.0|         459.0|          73.0|5416075.00|      1729|
|14-Jun-25|     65.0|     14.0|    2090.0|    1281.0|         691.0|          36.0|7386145.00|   2683.25|
|15-Jun-25|    139.0|     54.0|    2141.0|     945.0|         703.0|          41.0|7726815.00|   3203.70|
|16-Jun-25|     13.0|        9|     572.0|     365.0|         536.0|          57.0|4676595.00|   1648.57|
|17-Jun-25|     30.0|      8.0|     832.0|     773.0|         490.0|          28.0|4650455.00|      2479|
|18-Jun-25|     17.0|      2.0|     565.0|     591.0|         370.0|          44.0|3252200.00|      1520|
|19-Jun-25|     10.0|        6|     637.0|     636.0|         282.0|          49.0|2030915.00|      4035|
|20-Jun-25|     18.0|      1.0|    1303.0|     711.0|         520.0|          82.0|7331320.00| 3723.6440|
+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+
only showing top 20 rows

### Aggregate Functions
### - Get USD Total
### - Get KSH totals

In [26]:
df.groupBy('KSH__TOTAL', 'USD__TOTAL').sum().show()

+----------+----------+
|KSH__TOTAL|USD__TOTAL|
+----------+----------+
|6530855.00|   1154.46|
|7125785.00|      2038|
|7631940.00|   2618.26|
|4566470.00|      1682|
| 4145300.0|      3054|
|3252200.00|      1520|
|7842890.00|   6033.45|
|5416075.00|      1729|
|4650455.00|      2479|
| 8244030.0| 2258.7240|
|2603930.00|   3753.03|
| 5673800.0| 2138.6440|
|3349530.00|   1890.89|
| 5192135.0| 2369.0140|
|3477805.00|   2211.73|
|7331320.00| 3723.6440|
|3932695.00|   2366.71|
| 8640085.0| 4084.7160|
| 5998370.0| 2519.9300|
| 8382935.0| 5378.4100|
+----------+----------+
only showing top 20 rows