In [20]:
import pandas as pd
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("silver") \
    .getOrCreate()

In [21]:
df = spark.read.option("header", "true").csv(r"C:\Users\JKR\Documents\Project-csv\KWS-dataset.csv")

### Transformations


### Answering the guideline (Check PDF - workflow)
### it is evident that the required transformations conducted be:

- Check if Null values Exist
- Required columns and Rows
- Droping duplicates and filling in null values

In [22]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of DataFrame[DATE: string, CITIZEN A: string, CITIZEN C: string, RESIDENT A: string, RESIDENT C: string, NON RESIDENT A: string, NON RESIDENT C: string, KSH -TOTAL : string, USD -TOTAL: string]>

In [23]:
df.show()

+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
|     DATE|CITIZEN A|CITIZEN C|RESIDENT A|RESIDENT C|NON RESIDENT A|NON RESIDENT C|KSH -TOTAL |USD -TOTAL|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
| 1-Jun-25|    211.0|     68.0|    3279.0|    1005.0|         597.0|          88.0| 7631940.00|   2618.26|
| 2-Jun-25|    132.0|     51.0|    2609.0|    1790.0|         525.0|          23.0| 6530855.00|   1154.46|
| 3-Jun-25|     11.0|      4.0|     540.0|     588.0|         316.0|          24.0| 2603930.00|   3753.03|
| 4-Jun-25|     19.0|     16.0|     639.0|     970.0|         314.0|          73.0| 3477805.00|   2211.73|
| 5-Jun-25|     34.0|        6|     694.0|    1430.0|         371.0|          58.0| 3977830.00|   2992.95|
| 6-Jun-25|    147.0|     34.0|    2133.0|    2621.0|         501.0|          29.0| 6441310.00|   3295.03|
| 7-Jun-25|    129.0|     35.0|    2484.0|    1288.0|         727.0|          94.0| 7842890.00|   6033.45|
| 8-Jun-25|    131.0|     32.0|    2068.0|     752.0|         611.0|          72.0| 7125785.00|      2038|
| 9-Jun-25|     13.0|      9.0|     558.0|     269.0|         463.0|          36.0| 4566470.00|      1682|
|10-Jun-25|     23.0|        8|     584.0|     610.0|         465.0|          52.0| 4273065.00|   1817.26|
|11-Jun-25|      8.0|        0|     594.0|     685.0|         329.0|          56.0| 3349530.00|   1890.89|
|12-Jun-25|     21.0|     10.0|     734.0|     790.0|         478.0|          60.0| 3932695.00|   2366.71|
|13-Jun-25|     35.0|       11|    1104.0|    2907.0|         459.0|          73.0| 5416075.00|      1729|
|14-Jun-25|     65.0|     14.0|    2090.0|    1281.0|         691.0|          36.0| 7386145.00|   2683.25|
|15-Jun-25|    139.0|     54.0|    2141.0|     945.0|         703.0|          41.0| 7726815.00|   3203.70|
|16-Jun-25|     13.0|        9|     572.0|     365.0|         536.0|          57.0| 4676595.00|   1648.57|
|17-Jun-25|     30.0|      8.0|     832.0|     773.0|         490.0|          28.0| 4650455.00|      2479|
|18-Jun-25|     17.0|      2.0|     565.0|     591.0|         370.0|          44.0| 3252200.00|      1520|
|19-Jun-25|     10.0|        6|     637.0|     636.0|         282.0|          49.0| 2030915.00|      4035|
|20-Jun-25|     18.0|      1.0|    1303.0|     711.0|         520.0|          82.0| 7331320.00| 3723.6440|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
only showing top 20 rows

In [24]:
df.withColumnRenamed('CITIZEN A', 'CITIZEN_A').show()

+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
|     DATE|CITIZEN_A|CITIZEN C|RESIDENT A|RESIDENT C|NON RESIDENT A|NON RESIDENT C|KSH -TOTAL |USD -TOTAL|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
| 1-Jun-25|    211.0|     68.0|    3279.0|    1005.0|         597.0|          88.0| 7631940.00|   2618.26|
| 2-Jun-25|    132.0|     51.0|    2609.0|    1790.0|         525.0|          23.0| 6530855.00|   1154.46|
| 3-Jun-25|     11.0|      4.0|     540.0|     588.0|         316.0|          24.0| 2603930.00|   3753.03|
| 4-Jun-25|     19.0|     16.0|     639.0|     970.0|         314.0|          73.0| 3477805.00|   2211.73|
| 5-Jun-25|     34.0|        6|     694.0|    1430.0|         371.0|          58.0| 3977830.00|   2992.95|
| 6-Jun-25|    147.0|     34.0|    2133.0|    2621.0|         501.0|          29.0| 6441310.00|   3295.03|
| 7-Jun-25|    129.0|     35.0|    2484.0|    1288.0|         727.0|          94.0| 7842890.00|   6033.45|
| 8-Jun-25|    131.0|     32.0|    2068.0|     752.0|         611.0|          72.0| 7125785.00|      2038|
| 9-Jun-25|     13.0|      9.0|     558.0|     269.0|         463.0|          36.0| 4566470.00|      1682|
|10-Jun-25|     23.0|        8|     584.0|     610.0|         465.0|          52.0| 4273065.00|   1817.26|
|11-Jun-25|      8.0|        0|     594.0|     685.0|         329.0|          56.0| 3349530.00|   1890.89|
|12-Jun-25|     21.0|     10.0|     734.0|     790.0|         478.0|          60.0| 3932695.00|   2366.71|
|13-Jun-25|     35.0|       11|    1104.0|    2907.0|         459.0|          73.0| 5416075.00|      1729|
|14-Jun-25|     65.0|     14.0|    2090.0|    1281.0|         691.0|          36.0| 7386145.00|   2683.25|
|15-Jun-25|    139.0|     54.0|    2141.0|     945.0|         703.0|          41.0| 7726815.00|   3203.70|
|16-Jun-25|     13.0|        9|     572.0|     365.0|         536.0|          57.0| 4676595.00|   1648.57|
|17-Jun-25|     30.0|      8.0|     832.0|     773.0|         490.0|          28.0| 4650455.00|      2479|
|18-Jun-25|     17.0|      2.0|     565.0|     591.0|         370.0|          44.0| 3252200.00|      1520|
|19-Jun-25|     10.0|        6|     637.0|     636.0|         282.0|          49.0| 2030915.00|      4035|
|20-Jun-25|     18.0|      1.0|    1303.0|     711.0|         520.0|          82.0| 7331320.00| 3723.6440|
+---------+---------+---------+----------+----------+--------------+--------------+-----------+----------+
only showing top 20 rows

In [25]:
for colname in df.columns:
    df = df.withColumnRenamed(colname, colname.strip().replace(" ", "_").replace("-", "_").upper())

In [26]:
df.columns

['DATE',
 'CITIZEN_A',
 'CITIZEN_C',
 'RESIDENT_A',
 'RESIDENT_C',
 'NON_RESIDENT_A',
 'NON_RESIDENT_C',
 'KSH__TOTAL',
 'USD__TOTAL']

### Handling Missing Values

In [27]:
df.na.drop(how='any', subset= (['CITIZEN_A'])).show()

+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+
|     DATE|CITIZEN_A|CITIZEN_C|RESIDENT_A|RESIDENT_C|NON_RESIDENT_A|NON_RESIDENT_C|KSH__TOTAL|USD__TOTAL|
+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+
| 1-Jun-25|    211.0|     68.0|    3279.0|    1005.0|         597.0|          88.0|7631940.00|   2618.26|
| 2-Jun-25|    132.0|     51.0|    2609.0|    1790.0|         525.0|          23.0|6530855.00|   1154.46|
| 3-Jun-25|     11.0|      4.0|     540.0|     588.0|         316.0|          24.0|2603930.00|   3753.03|
| 4-Jun-25|     19.0|     16.0|     639.0|     970.0|         314.0|          73.0|3477805.00|   2211.73|
| 5-Jun-25|     34.0|        6|     694.0|    1430.0|         371.0|          58.0|3977830.00|   2992.95|
| 6-Jun-25|    147.0|     34.0|    2133.0|    2621.0|         501.0|          29.0|6441310.00|   3295.03|
| 7-Jun-25|    129.0|     35.0|    2484.0|    1288.0|         727.0|          94.0|7842890.00|   6033.45|
| 8-Jun-25|    131.0|     32.0|    2068.0|     752.0|         611.0|          72.0|7125785.00|      2038|
| 9-Jun-25|     13.0|      9.0|     558.0|     269.0|         463.0|          36.0|4566470.00|      1682|
|10-Jun-25|     23.0|        8|     584.0|     610.0|         465.0|          52.0|4273065.00|   1817.26|
|11-Jun-25|      8.0|        0|     594.0|     685.0|         329.0|          56.0|3349530.00|   1890.89|
|12-Jun-25|     21.0|     10.0|     734.0|     790.0|         478.0|          60.0|3932695.00|   2366.71|
|13-Jun-25|     35.0|       11|    1104.0|    2907.0|         459.0|          73.0|5416075.00|      1729|
|14-Jun-25|     65.0|     14.0|    2090.0|    1281.0|         691.0|          36.0|7386145.00|   2683.25|
|15-Jun-25|    139.0|     54.0|    2141.0|     945.0|         703.0|          41.0|7726815.00|   3203.70|
|16-Jun-25|     13.0|        9|     572.0|     365.0|         536.0|          57.0|4676595.00|   1648.57|
|17-Jun-25|     30.0|      8.0|     832.0|     773.0|         490.0|          28.0|4650455.00|      2479|
|18-Jun-25|     17.0|      2.0|     565.0|     591.0|         370.0|          44.0|3252200.00|      1520|
|19-Jun-25|     10.0|        6|     637.0|     636.0|         282.0|          49.0|2030915.00|      4035|
|20-Jun-25|     18.0|      1.0|    1303.0|     711.0|         520.0|          82.0|7331320.00| 3723.6440|
+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+
only showing top 20 rows

### Aggregate Functions
### - Get USD Total
### - Get KSH totals

In [28]:
df.groupBy('KSH__TOTAL', 'USD__TOTAL').sum().show()

+----------+----------+
|KSH__TOTAL|USD__TOTAL|
+----------+----------+
|6530855.00|   1154.46|
|7125785.00|      2038|
|7631940.00|   2618.26|
|4566470.00|      1682|
| 4145300.0|      3054|
|3252200.00|      1520|
|7842890.00|   6033.45|
|5416075.00|      1729|
|4650455.00|      2479|
| 8244030.0| 2258.7240|
|2603930.00|   3753.03|
| 5673800.0| 2138.6440|
|3349530.00|   1890.89|
| 5192135.0| 2369.0140|
|3477805.00|   2211.73|
|7331320.00| 3723.6440|
|3932695.00|   2366.71|
| 8640085.0| 4084.7160|
| 5998370.0| 2519.9300|
| 8382935.0| 5378.4100|
+----------+----------+
only showing top 20 rows

### KPI metrics
1.	Showcase total number of visitors coming to the park 
2.	Number of children, adults visiting the park (Foreign and Citizens)
3.	Total revenue collected (Both in USD and KES)
4.	Busiest Day in the park
5.  Revenue collection per day
6.  Average income per week

In [40]:
df.columns

['DATE',
 'CITIZEN_A',
 'CITIZEN_C',
 'RESIDENT_A',
 'RESIDENT_C',
 'NON_RESIDENT_A',
 'NON_RESIDENT_C',
 'KSH__TOTAL',
 'USD__TOTAL']

In [45]:
df.printSchema

<bound method DataFrame.printSchema of DataFrame[DATE: string, CITIZEN_A: string, CITIZEN_C: string, RESIDENT_A: string, RESIDENT_C: string, NON_RESIDENT_A: string, NON_RESIDENT_C: string, KSH__TOTAL: string, USD__TOTAL: string]>

In [43]:
df = df.toDF(*[c.replace(" ", "_").replace("-", "_") for c in df.columns])

In [44]:
df.printSchema()

root
 |-- DATE: string (nullable = true)
 |-- CITIZEN_A: string (nullable = true)
 |-- CITIZEN_C: string (nullable = true)
 |-- RESIDENT_A: string (nullable = true)
 |-- RESIDENT_C: string (nullable = true)
 |-- NON_RESIDENT_A: string (nullable = true)
 |-- NON_RESIDENT_C: string (nullable = true)
 |-- KSH__TOTAL: string (nullable = true)
 |-- USD__TOTAL: string (nullable = true)

### Changing the schema from string to Integers

In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.types import DoubleType

numeric_columns = [
    "CITIZEN_A", "CITIZEN_C", 
    "RESIDENT_A", "RESIDENT_C", 
    "NON_RESIDENT_A", "NON_RESIDENT_C", 
    "KSH__TOTAL", "USD__TOTAL"
]

for column in numeric_columns:
    df = df.withColumn(column, col(column).cast(DoubleType()))

### Total Number of visitors

In [49]:
from pyspark.sql.functions import col, sum

df = df.withColumn("TOTAL_VISITORS", 
    col("CITIZEN_A") + col("CITIZEN_C") + 
    col("RESIDENT_A") + col("RESIDENT_C") + 
    col("NON_RESIDENT_A") + col("NON_RESIDENT_C"))

df.agg(sum("TOTAL_VISITORS").alias("TOTAL_VISITORS")).show()

+--------------+
|TOTAL_VISITORS|
+--------------+
|       88307.0|
+--------------+

In [51]:
df.printSchema()

root
 |-- DATE: string (nullable = true)
 |-- CITIZEN_A: double (nullable = true)
 |-- CITIZEN_C: double (nullable = true)
 |-- RESIDENT_A: double (nullable = true)
 |-- RESIDENT_C: double (nullable = true)
 |-- NON_RESIDENT_A: double (nullable = true)
 |-- NON_RESIDENT_C: double (nullable = true)
 |-- KSH__TOTAL: double (nullable = true)
 |-- USD__TOTAL: double (nullable = true)
 |-- TOTAL_VISITORS: double (nullable = true)

### Total Number of adults and Children

In [60]:
from pyspark.sql.functions import col, sum


df.agg(
    sum('CITIZEN_C').alias('TOTAL_CITIZEN_CHILDREN'),
    sum('CITIZEN_A').alias('TOTAL_CITIZEN_ADULTS')
 ) .show()

+----------------------+--------------------+
|TOTAL_CITIZEN_CHILDREN|TOTAL_CITIZEN_ADULTS|
+----------------------+--------------------+
|                 496.0|              1675.0|
+----------------------+--------------------+

### Busiest Record

In [61]:
df.show()

+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+--------------+
|     DATE|CITIZEN_A|CITIZEN_C|RESIDENT_A|RESIDENT_C|NON_RESIDENT_A|NON_RESIDENT_C|KSH__TOTAL|USD__TOTAL|TOTAL_VISITORS|
+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+--------------+
| 1-Jun-25|    211.0|     68.0|    3279.0|    1005.0|         597.0|          88.0| 7631940.0|   2618.26|        5248.0|
| 2-Jun-25|    132.0|     51.0|    2609.0|    1790.0|         525.0|          23.0| 6530855.0|   1154.46|        5130.0|
| 3-Jun-25|     11.0|      4.0|     540.0|     588.0|         316.0|          24.0| 2603930.0|   3753.03|        1483.0|
| 4-Jun-25|     19.0|     16.0|     639.0|     970.0|         314.0|          73.0| 3477805.0|   2211.73|        2031.0|
| 5-Jun-25|     34.0|      6.0|     694.0|    1430.0|         371.0|          58.0| 3977830.0|   2992.95|        2593.0|
| 6-Jun-25|    147.0|     34.0|    2133.0|    2621.0|         501.0|          29.0| 6441310.0|   3295.03|        5465.0|
| 7-Jun-25|    129.0|     35.0|    2484.0|    1288.0|         727.0|          94.0| 7842890.0|   6033.45|        4757.0|
| 8-Jun-25|    131.0|     32.0|    2068.0|     752.0|         611.0|          72.0| 7125785.0|    2038.0|        3666.0|
| 9-Jun-25|     13.0|      9.0|     558.0|     269.0|         463.0|          36.0| 4566470.0|    1682.0|        1348.0|
|10-Jun-25|     23.0|      8.0|     584.0|     610.0|         465.0|          52.0| 4273065.0|   1817.26|        1742.0|
|11-Jun-25|      8.0|      0.0|     594.0|     685.0|         329.0|          56.0| 3349530.0|   1890.89|        1672.0|
|12-Jun-25|     21.0|     10.0|     734.0|     790.0|         478.0|          60.0| 3932695.0|   2366.71|        2093.0|
|13-Jun-25|     35.0|     11.0|    1104.0|    2907.0|         459.0|          73.0| 5416075.0|    1729.0|        4589.0|
|14-Jun-25|     65.0|     14.0|    2090.0|    1281.0|         691.0|          36.0| 7386145.0|   2683.25|        4177.0|
|15-Jun-25|    139.0|     54.0|    2141.0|     945.0|         703.0|          41.0| 7726815.0|    3203.7|        4023.0|
|16-Jun-25|     13.0|      9.0|     572.0|     365.0|         536.0|          57.0| 4676595.0|   1648.57|        1552.0|
|17-Jun-25|     30.0|      8.0|     832.0|     773.0|         490.0|          28.0| 4650455.0|    2479.0|        2161.0|
|18-Jun-25|     17.0|      2.0|     565.0|     591.0|         370.0|          44.0| 3252200.0|    1520.0|        1589.0|
|19-Jun-25|     10.0|      6.0|     637.0|     636.0|         282.0|          49.0| 2030915.0|    4035.0|        1620.0|
|20-Jun-25|     18.0|      1.0|    1303.0|     711.0|         520.0|          82.0| 7331320.0|  3723.644|        2635.0|
+---------+---------+---------+----------+----------+--------------+--------------+----------+----------+--------------+
only showing top 20 rows

In [66]:
from pyspark.sql.functions import avg, col

df.agg(avg(col('TOTAL_VISITORS')).alias("AVG_TOTAL_VISITORS")).show()

+------------------+
|AVG_TOTAL_VISITORS|
+------------------+
|2943.5666666666666|
+------------------+

In [67]:
df.plot
plt.show()